body{
   font-family: Arial, sans-serif; 
   background-color: cadetblue;
   margin: 0;
   padding: 15px;

}
h1{
    text-align: center;
    color:black;
}
form{
    background:white;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    margin: auto;
}
label{
    font-size: 16px;
    font-weight: bold;
}
input{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}
button{
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}